body {
    overflow-x: hidden;
}

li {
    background-color: aliceblue;
    margin-bottom: 12px;
    border-radius: 6px;
}

.notched-outline {
    border-color: #fff !important;
  }
  
  .input-label.MuiInputLabel-shrink {
    color: #fff !important;
  }