body {
    overflow-x: hidden;
}

li {
    background-color: aliceblue;
    margin-bottom: 12px;
    border-radius: 6px;
}

.notched-outline {
    border-color: black !important;
  }
  
  .input-label.MuiInputLabel-shrink {
    color: black !important;
  }

.list-item span:nth-last-of-type(1) {
  color: gray;
  padding-right:10px;
}